{% load lab %}
{% load forms %}

<input ng-init="{{ lab_test.get_display_name }}" ng-model="editing.lab_test.lab_test_type" type="hidden">
{% datepicker field="LabTest.date_ordered" %}
{% for observation in lab_test.retrieve_observations %}
  {% render_observation observation %}
{% endfor %}
{% if lab_test.POTENTIALLY_SENSITIVE %}
  {% select field="LabTest.sensitive_antibiotics" multiple=True tagging=False search_select=True %}
{% endif %}
{% if lab_test.POTENTIALLY_RESISTANT %}
  {% select field="LabTest.resistant_antibiotics" multiple=True tagging=False search_select=True %}
{% endif %}
