{% load lab_tags %}
{% load forms %}
{% block lab_form %}
{% datetimepicker field="LabTest.datetime_ordered" %}
{% for observation in lab_test.retrieve_observations %}
  {% observation_form observation %}
{% endfor %}
{% if lab_test.POTENTIALLY_SENSITIVE %}
  {% select field="LabTest.sensitive_antibiotics" multiple=True tagging=False search_select=True %}
{% endif %}
{% if lab_test.POTENTIALLY_RESISTANT %}
  {% select field="LabTest.resistant_antibiotics" multiple=True tagging=False search_select=True %}
{% endif %}
{% endblock %}
{% block extra_fields %}
{% endblock extra_fields %}
